<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <script src="socket.io/socket.io.js"></script>
    <script>
        // trang page call to socket.io veraver
        var socket = io("http://localhost:3333");
        
        socket.on("Server-response-color", (data)=>{
            document.querySelector("body").style.background = data;

        })
        function handleClick(color){
            socket.emit("Client-send-color", color);
        }
        document.addEventListener("DOMContentLoaded", function(){
            document.querySelector(".red").addEventListener("click",()=>{
                handleClick("red")
            })
            document.querySelector(".blue").addEventListener("click", ()=>{
                handleClick("blue");
            })
            document.querySelector(".yellow").addEventListener("click", ()=>{
                handleClick("yellow");
            })
        })
        
    </script>
    <style>
        body{
            background-color: pink;
        }
        .red, .blue, .yellow {
            width: 550px;
            height: 250px;
        }
        .red {
            background-color: red;
        }
        .blue {
            background-color: blue;
        }
        .yellow {
            background-color: yellow;
        }
    </style>
</head>
<body>
    <div class="red"></div>
    <div class="blue"></div>
    <div class="yellow"></div>
</body>
</html>
