<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id="home" class="content-section">
        <div class="home-container">
            <h1>Welcome to Smart Garden System</h1>
            <p>Trang web này được thiết kế để giúp bạn theo dõi và điều khiển các thiết bị trong hệ thống vườn thông minh một cách dễ dàng và tiện lợi.</p>
            
            <h2>Hướng Dẫn Sử Dụng</h2>
            <div class="guide">
                <h3>1. Giám sát các thông số</h3>
                <p>Truy cập các trang như <strong>Temperature</strong>, <strong>Air-humidity</strong>, <strong>Light</strong>, <strong>Soil-moisture</strong> để xem dữ liệu hiện tại và biểu đồ trực quan.</p>
    
                <h3>2. Điều khiển thiết bị</h3>
                <p>Sử dụng trang <strong>Control</strong> để bật/tắt quạt, bơm nước hoặc đóng/mở mái che. Hệ thống hỗ trợ chế độ tự động và thủ công.</p>
    
                <h3>3. Theo dõi camera</h3>
                <p>Truy cập trang <strong>Camera</strong> để quan sát video trực tiếp từ ESP32-CAM được gắn ở phía trước cửa của hệ thống.</p>
    
                <h3>4. Nhắn tin</h3>
                <p>Dùng trang <strong>Chat</strong> để giao tiếp với nhau.</p>
    
                <h3>5. Thống kê dữ liệu</h3>
                <p>Truy cập <strong>Statistic</strong> để xem các biểu đồ thống kê dữ liệu trong các khoảng thời gian khác nhau.</p>
            </div>
        </div>
    </section>
    
    <script src="js/home.js"></script>
    
</body>
</html>