<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Light Intensity</title>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
            rel="stylesheet">
        <link
            href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
            rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/admin/lib/RESET.css">
        <link rel="stylesheet" type="text/css"
            href="/admin/css/light.css">
        <script src="/admin/light.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io();
            socket.on("Server-response-sensor-data", (data)=>{
                let light = data.light;
                $("#light-value").text(`${light}  `)
            })
            $(document).ready(()=>{
                $("#light-value").text(`....`)
            })
        </script>
    </head>
    <body>
        <header class="top-bar">
            <div class="logo">
                <i class="ri-home-wifi-fill"></i>
                <h2>SmartGarden</h2>
            </div>
            <div class="user-info">
                <i class="ri-user-fill"></i>
                <span>Admin</span>
            </div>
        </header>
        <div class="container">
            <aside class="sidebar">
                <ul>
                    <li><a href="/admin/home"><i
                                class="ri-home-4-line"></i> Home</a></li>

                    <li><a href="/admin/temperature"><i
                                class="ri-thermometer-line"></i>
                            Temperature</a></li>
                    <li><a href="/admin/airHumidity"
                            class="active"><i class="ri-leaf-line"></i> Air
                            Humidity</a></li>
                    <li><a href="/admin/light"><i
                                class="ri-sun-line"></i> Light</a></li>
                    <li><a href="/admin/soilMoisture"><i
                                class="ri-drop-line"></i> Soil Moisture</a></li>
                    <li><a href="/admin/control"><i
                                class="ri-remote-control-line"></i>
                            Control</a></li>
                    <li><a href="/admin/camera"><i
                                class="ri-camera-line"></i> Camera</a></li>
                    <li><a href="/admin/statistic"><i
                                class="ri-bar-chart-line"></i>
                            Statistic</a></li>
                    <li><a href="/admin/chat"><i
                                class="ri-message-line"></i> Chat</a></li>
                    <li><a href="/authentication/login"><i
                                class="ri-logout-box-line"></i> Logout</a></li>
                </ul>
            </aside>
            <main class="main-content">
                <section id="light" class="content-section">
                    <h1>Light Intensity</h1>
                    <p>Monitor the light intensity over time.</p>
                    <div class="light-info">
                        <div id="light-display" class="light-box">
                            <div class="light-card">
                                <div class="light-icon">
                                    <i class="ri-sun-line"></i>
                                </div>
                                <div class="light-info">
                                    <h3>Current Light Intensity</h3>
                                    <span
                                        id="light-value">Loading...</span><span
                                        id="light-unit">Lux</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="light-controls">
                        <div class="light-time-selection-row">
                            <label for="start-time-light">Start Time:</label>
                            <input type="datetime-local" id="start-time-light"
                                name="start-time-light">
                            <label for="end-time-light">End Time:</label>
                            <input type="datetime-local" id="end-time-light"
                                name="end-time-light">
                        </div>
                        <div class="light-time-selection-button">
                            <button id="filter-light-data-btn">Filter
                                Data</button>
                        </div>
                    </div>
                    <div class="light-chart-container">
                        <h2>Light Intensity (Lux)</h2>
                        <canvas id="light-chart-canvas"></canvas>
                    </div>
                </section>
            </main>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="light.js"></script>
    </body>
</html>
