<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Temperature</title>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
            rel="stylesheet">
        <link
            href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
            rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/admin/lib/RESET.css">
        <link rel="stylesheet" type="text/css"
            href="/admin/css/temperature.css">

        <script src="/socket.io/socket.io.js"></script>
        <script src="/admin/js/temperature.js"></script>
        <script>
            
        </script>
    </head>
    <body>
        <header class="top-bar">
            <div class="logo">
                <i class="ri-home-wifi-fill"></i>
                <h2>SmartGarden</h2>
            </div>
            <div class="user-info">
                <i class="ri-user-fill"></i>
                <span>Admin || Current-time: </span>
                <span id="current-time"
                    style="margin-left: 10px; font-weight: normal;"></span>
            </div>
        </header>
        <div class="container">
            <aside class="sidebar">
                <ul>
                    <li><a href="/admin/home"><i
                                class="ri-home-4-line"></i> Home</a></li>

                    <li><a href="/admin/temperature" class="active"><i
                                class="ri-thermometer-line"></i>
                            Temperature</a></li>
                    <li><a href="/admin/airHumidity"><i
                                class="ri-leaf-line"></i> Air
                            Humidity</a></li>
                    <li><a href="/admin/light"><i
                                class="ri-sun-line"></i> Light</a></li>
                    <li><a href="/admin/soilMoisture"><i
                                class="ri-drop-line"></i> Soil Moisture</a></li>
                    <li><a href="/admin/control"><i
                                class="ri-remote-control-line"></i>
                            Control</a></li>
                    <li><a href="/admin/camera"><i
                                class="ri-camera-line"></i> Camera</a></li>
                    <li><a href="/admin/statistic"><i
                                class="ri-bar-chart-line"></i>
                            Statistic</a></li>
                    <!-- <li><a href="/admin/chat"><i
                                class="ri-message-line"></i> Chat</a></li> -->
                    <li><a href="/authentication/login"><i
                                class="ri-logout-box-line"></i> Logout</a></li>
                </ul>
            </aside>
            <main class="main-content">
                <section id="temperature" class="content-section">
                    <h1>Temperature</h1>
                    <p>Monitor the temperature data over time.</p>
                    <div class="temperature-info">
                        <div id="temperature-display" class="temperature-box">
                            <div class="temperature-card">
                                <div class="temperature-icon">
                                    <i class="ri-thermometer-line"></i>
                                </div>
                                <div class="temperature-info">
                                    <h3>Current Temperature</h3>
                                    <span id="temp-value">Loading...</span>
                                    <span
                                        id="temperature-unit">°C</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="temperature-controls">
                        <div class="temperature-time-selection-row">
                            <label for="start-time-temperature">Start
                                Time:</label>
                            <input type="datetime-local"
                                id="start-time-temperature"
                                name="start-time-temperature">
                            <label for="end-time-temperature">End Time:</label>
                            <input type="datetime-local"
                                id="end-time-temperature"
                                name="end-time-temperature">
                        </div>
                        <div class="temperature-time-selection-button">
                            <button id="filter-temperature-data-btn">Filter
                                Data</button>
                        </div>
                    </div>
                    <div class="temperature-chart-container">
                        <h2>Temperature (°C)</h2>
                        <canvas id="temperature-chart-canvas"></canvas>
                    </div>
                </section>

            </main>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </body>
    <script>
        function updateClock() {
            const now = new Date();
            const hours = String(now.getHours()).padStart(2, '0'); // Giờ
            const minutes = String(now.getMinutes()).padStart(2, '0'); // Phút
            const seconds = String(now.getSeconds()).padStart(2, '0'); // Giây
        
            const currentTime = `${hours}:${minutes}:${seconds}`;
            document.getElementById('current-time').textContent = currentTime;
        }
        
        // Gọi hàm updateClock mỗi giây
        setInterval(updateClock, 1000);
        
        // Gọi ngay lập tức để hiển thị khi trang load
        updateClock();
        
    </script>
</html>
